{% extends "layouts/main-nav.html" %}

{% block pageTitle %}
PROTOTYPE - Admin suppliers
{% endblock %}



{% block content %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()",
  classes: "govuk-!-margin-top-1"
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appropriate body details</span>
      <h1 class="govuk-heading-l">
        Cummerata-Emmerich
      </h1>

      <form class="form" action="/version-24/check-answers-1" method="post">

       
      

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

              

              {{ govukSummaryList({
                card: {
                  title: {
                    text: "Users"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Add new user",
                        visuallyHiddenText: "for Armstrong-Kuhn"
                      }
                    ]
                  }
                },
                rows: [
                  {
                    key: {
                      text: "Alan Bennett"
                    },
                    value: {
                      html: "alan.bennett@email.com"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "Alan Bennett"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Bert Hungerford"
                    },
                    value: {
                      html: "bert.hungerford@email.com"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "Bert Hungerford"
                        }
                      ]
                    }
                  }
                ]
              }) }}


            

        
       

      </form>

    </div>
  </div>

{% endblock %}
