{% extends "layouts/main-nav.html" %}

{% block pageTitle %}
  Admin suppliers
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Delivery partner details</span>
      <h1 class="govuk-heading-l">
        Armstrong-Kuhn
      </h1>

      <form class="form" action="/version-24/check-answers-1" method="post">

       
        <h2 class="govuk-heading-m">
          Lead provider and cohort information
        </h2>
        {{ govukButton({
          text: "Add a new lead provider",
          classes: "govuk-button--secondary"
        }) }}
        <table class="govuk-table">
          <thead>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Lead provider</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Selected cohorts</th>
              <th scope="col" class="govuk-table__header "></th>
          </thead>
          <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                <td class="govuk-table__cell">Ambition Institute</td>
                <td class="govuk-table__cell">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      2023
                    </li>
                    <li>
                      2021
                    </li>
                  </ul>
                </td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">National Institute of Teaching</td>
                <td class="govuk-table__cell">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      2023
                    </li>
                 
                  </ul>
                </td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Best Practice Network</td>
                <td class="govuk-table__cell"> <ul class="govuk-list govuk-list--bullet">
                  <li>
                    2023
                  </li>
                  <li>
                    2022
                  </li>
                <li>
                  2021
                </li>
                </ul>
              </td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
              </tr>
              
          </tbody>
        </table>
        <br><br>
        <h2 class="govuk-heading-m">
          Armstrong-Kuhn user details
        </h2>
        {{ govukButton({
          text: "Add a new user",
          classes: "govuk-button--secondary"
        }) }}
        <table class="govuk-table">
          <thead>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Email address</th>
              <th scope="col" class="govuk-table__header "></th>
          </thead>
          <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a data-test="edit-supplier-user-link" class="govuk-link" href="/admin/suppliers/lead-providers/users/7b789f23-0da4-4e3b-a258-d9ebb87ecf1b/edit">ambition user</a></td>
                <td class="govuk-table__cell">ambition@example.com</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a data-test="edit-supplier-user-link" class="govuk-link" href="#">Brian Milman</a></td>
                <td class="govuk-table__cell">test@testbmuser.com</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a data-test="edit-supplier-user-link" class="govuk-link" href="#">edt</a></td>
                <td class="govuk-table__cell">edt@example.com</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
              </tr>              
          </tbody>
        </table>

      </form>

    </div>
  </div>

{% endblock %}
