{% extends "layouts/main-nav.html" %}

{% block pageTitle %}
PROTOTYPE - Admin suppliers
{% endblock %}



{% block content %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()",
  classes: "govuk-!-margin-top-1"
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['email-dp'] %}
      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% set html %}
      <h3 class="govuk-notification-banner__heading">
        New user added
      </h3>
     <p class='govuk-body'>
      <a href='#' class="govuk-link">{{ data['full-name-dp']}}</a> has been added as a user for Armstrong-Kuhn
     </p>
       
      {% endset %}
      
      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}
{% endif %}
      <span class="govuk-caption-l">Delivery partner </span>
      <h1 class="govuk-heading-l">
        Armstrong-Kuhn
      </h1>

      <form class="form" action="/version-24/check-answers-1" method="post">

        <ul class="app-subnav__list govuk-!-margin-bottom-9">
          <li class="app-subnav__list-item app-subnav__list-item--selected">
      <a class="govuk-link app-subnav__link govuk-link--no-visited-state app-subnav__list-item app-subnav__list-item--selected" aria-current="page" href="suppliers">
        
       Overview
     <span class="govuk-visually-hidden">Current page</span>
    </a></li>
    
          <li class="app-subnav__list-item">
      <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="armstrong-Kuhn-users">
        
        All users
     
    </a></li>
    
      </ul>
       
      

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

              


              {% set 2023Html %}
              {{ govukSummaryList({
                card: {
                  title: {
                    text: "2023"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change providers and cohorts",
                        visuallyHiddenText: "for Armstrong-Kuhn"
                      }
                    ]
                  }
                },
                rows: [
                  {
                    key: {
                      text: "Lead providers"
                    },
                    value: {
                      html: "<ul class='govuk-list govuk-list--bullet'>
                        <li>
                          <a href='../lead-provider/ambition-institute' class='govuk-link'>    Ambition Institute</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>    Best Practice Network</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  Capita</a>
                        </li>
                      </ul>"
                    }
                  },
                  {
                    key: {
                      text: "Schools"
                    },
                    value: {
                      html: "<ul class='govuk-list govuk-list--bullet'>
                        <li>
                          <a href='#' class='govuk-link'>    Abbey College Manchester</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>   Abbeyfield School</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>   Abbey Green Nursery School & Children's Centre</a>
                        </li>
                       
                      </ul>"
                    }
                  }
                ]
              }) }}
                
              {% endset -%}

              {% set 2022Html %}
              {{ govukSummaryList({
                card: {
                  title: {
                    text: "2022"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change providers and cohorts",
                        visuallyHiddenText: "for Armstrong-Kuhn"
                      }
                    ]
                  }
                },
                rows: [
                  {
                    key: {
                      text: "Lead providers"
                    },
                    value: {
                      html: "<ul class='govuk-list govuk-list--bullet'>
                        <li>
                          <a href='../lead-provider/ambition-institute' class='govuk-link'>    Ambition Institute</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>    Best Practice Network</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  Capita</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  National Institute of Teaching</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  Teach First</a>
                        </li>
                      </ul>"
                    }
                  },
                  {
                    key: {
                      text: "Schools"
                    },
                    value: {
                      html: "<ul class='govuk-list govuk-list--bullet'>
                        <li>
                          <a href='#' class='govuk-link'>    Abbey College Manchester</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>   Abbeyfield School</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>   Abbey Green Nursery School & Children's Centre</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  Abbey Hill Academy</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'> Abbey Lane Primary School</a>
                        </li>
                      </ul>"
                    }
                  }
                ]
              }) }}
                
              {% endset -%}

              {% set 2021Html %}
              {{ govukSummaryList({
                card: {
                  title: {
                    text: "2021"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change providers and cohorts",
                        visuallyHiddenText: "for Armstrong-Kuhn"
                      }
                    ]
                  }
                },
                rows: [
                  {
                    key: {
                      text: "Lead providers"
                    },
                    value: {
                      html: "<ul class='govuk-list govuk-list--bullet'>
                        <li>
                          <a href='../lead-provider/ambition-institute' class='govuk-link'>    Ambition Institute</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>    Best Practice Network</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  Capita</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  National Institute of Teaching</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  Teach First</a>
                        </li>
                      </ul>"
                    }
                  },
                  {
                    key: {
                      text: "Schools"
                    },
                    value: {
                      html: "<ul class='govuk-list govuk-list--bullet'>
                        <li>
                          <a href='#' class='govuk-link'>    Abbey College Manchester</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>   Abbeyfield School</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>   Abbey Green Nursery School & Children's Centre</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  Abbey Hill Academy</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'> Abbey Lane Primary School</a>
                        </li>
                      </ul>"
                    }
                  }
                ]
              }) }}
                
              {% endset -%}

              {% set 2020Html %}
              {{ govukSummaryList({
                card: {
                  title: {
                    text: "2020"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change providers and cohorts",
                        visuallyHiddenText: "for Armstrong-Kuhn"
                      }
                    ]
                  }
                },
                rows: [
                  {
                    key: {
                      text: "Lead providers"
                    },
                    value: {
                      html: "<ul class='govuk-list govuk-list--bullet'>
                        <li>
                          <a href='../lead-provider/ambition-institute' class='govuk-link'>    Ambition Institute</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>    Best Practice Network</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  Capita</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  National Institute of Teaching</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  Teach First</a>
                        </li>
                      </ul>"
                    }
                  },
                  {
                    key: {
                      text: "Schools"
                    },
                    value: {
                      html: "<ul class='govuk-list govuk-list--bullet'>
                        <li>
                          <a href='#' class='govuk-link'>    Abbey College Manchester</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>   Abbeyfield School</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>   Abbey Green Nursery School & Children's Centre</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'>  Abbey Hill Academy</a>
                        </li>
                        <li>
                          <a href='#' class='govuk-link'> Abbey Lane Primary School</a>
                        </li>
                      </ul>"
                    }
                  }
                ]
              }) }}
                
              {% endset -%}

             {{ govukAccordion({
              id: "cohorts",
              items: [
                {
                  heading: {
                    text: "2023"
                  },
                  content: {
                    html: 2023Html
                  }
                },
                {
                  heading: {
                    text: "2022"
                  },
                  content: {
                    html: 2022Html
                  }
                },
                {
                  heading: {
                    text: "2021"
                  },
                  content: {
                    html: 2021Html
                  }
                },
                {
                  heading: {
                    text: "2020"
                  },
                  content: {
                    html: 2020Html
                  }
                }
              ]
             }) }}



             {{ govukButton({
              text: "Delete",
              classes: "govuk-button--warning"
            }) }}


      </form>

    </div>
  </div>

{% endblock %}
