{% extends "layouts/main-nav.html" %}

{% block pageTitle %}
New user – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-1"
  }) }}


  <div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-two-thirds">
          
            <h1 class="govuk-heading-l">
              <span class="govuk-caption-l">Add a new user</span>
              What is their name and email?
            </h1>
         
    
            <form class="form" action="new-user-check-answer" method="post">

      {{ govukInput({
        id: "full-name-dp",
        name: "full-name-dp",
        label: {
          text: "Full name"
        }
      }) }}
      {{ govukInput({
        id: "email-dp",
        name: "email-dp",
        label: {
          text: "Email"
        }
      }) }}
      
      
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

  </div>
</div>

{% endblock %}
