{% extends "layouts/main-nav.html" %}

{% block pageTitle %}
PROTOTYPE - Admin suppliers
{% endblock %}



{% block content %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()",
  classes: "govuk-!-margin-top-1"
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appropriate body</span>
      <h1 class="govuk-heading-l">
        Cummerata-Emmerich
      </h1>

    

      <ul class="app-subnav__list govuk-!-margin-bottom-9">
        <li class="app-subnav__list-item ">
          <a class="govuk-link app-subnav__link govuk-link--no-visited-state app-subnav__list-item app-subnav__list-item--selected" aria-current="page" href="cummerata-emmerich">
          Overview
          
          </a>
        </li>
  
        <li class="app-subnav__list-item app-subnav__list-item--selected">
          <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="cummerata-emmerich-users">
            All users
            <span class="govuk-visually-hidden">Current page</span>
          </a>
        </li>
    </ul>
      

    {{ govukButton({
      text: "Add a new user",
      href: "new-user-detail"
     }) }}


    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Alan Bennett
        </dt>
        <dd class="govuk-summary-list__value">
          alan.bennett@email.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            View<span class="govuk-visually-hidden"> Alan Bennett</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Bert Hungerford
        </dt>
        <dd class="govuk-summary-list__value">
          bert.hungerford@email.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            View<span class="govuk-visually-hidden"> Bert Hungerfordh</span>
          </a>
        </dd>
      </div>
    </dl>
  
        
       

    </div>
  </div>

{% endblock %}
