{% extends "layouts/main.html" %}

{% block pageTitle %}
	Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">Early career framework (ECF)</h1><span class="govuk-caption-l">Ambition Institute</span>
			<h2 class="govuk-heading-l">October 2022</h2>
			<form accept-charset="UTF-8" action="https://ecf-dev.london.cloudapps.digital/finance/payment-breakdowns/choose-ecf-statement" class="statement-selector" data-remote="true" method="post">
				<input autocomplete="off" name="authenticity_token" type="hidden" value="6s6COGxq+EMQBbJgyiSUU/dyL8CUaaSJFL4O87iYlmcNL29EJ864/N8cUvT15U4eycbhv2ztvUSMr6U4psnYhw==">
				<div class="govuk-form-group govuk-!-width-one-third">
					<label class="govuk-label" for="lead-provider-field">View a different provider</label><select class="govuk-select" id="lead-provider-field" name="lead_provider">
						<option selected="selected" value="781bf717-057b-42da-b395-de51783f5fca">
							Ambition Institute
						</option>
						<option value="fdfa3de7-9809-4a6c-8a05-eff81d4cd470">
							Best Practice Network
						</option>
						<option value="2fd62adf-51dc-4ccf-a66b-839aece38413">
							Capita
						</option>
						<option value="647deb21-7c1e-4068-a956-3a624c37c76d">
							Education Development Trust
						</option>
						<option value="ca1fc9c7-49ee-49f3-9b0c-63cb7fdaecd9">
							Teach First
						</option>
						<option value="227fd540-ea40-40f5-9ca1-97e0685fd034">
							UCL Institute of Education
						</option>
					</select>
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label" for="cohort-year-field">View a different cohort</label><select class="govuk-select" id="cohort-year-field" name="cohort_year">
						<option value="2021">
							2021
						</option>
						<option selected="selected" value="2022">
							2022
						</option>
						<option value="2023">
							2023
						</option>
					</select>
				</div>
				<div class="govuk-form-group govuk-!-width-one-third">
					<label class="govuk-label" for="statement-field">View a different statement</label><select class="govuk-select" id="statement-field" name="statement">
						<option value="november-2021">
							November 2021
						</option>
						<option value="january-2022">
							January 2022
						</option>
						<option value="february-2022">
							February 2022
						</option>
						<option value="march-2022">
							March 2022
						</option>
						<option value="april-2022">
							April 2022
						</option>
						<option value="may-2022">
							May 2022
						</option>
						<option value="june-2022">
							June 2022
						</option>
						<option value="july-2022">
							July 2022
						</option>
						<option value="august-2022">
							August 2022
						</option>
						<option value="september-2022">
							September 2022
						</option>
						<option selected="selected" value="october-2022">
							October 2022
						</option>
						<option value="november-2022">
							November 2022
						</option>
						<option value="december-2022">
							December 2022
						</option>
						<option value="january-2023">
							January 2023
						</option>
						<option value="february-2023">
							February 2023
						</option>
						<option value="march-2023">
							March 2023
						</option>
						<option value="april-2023">
							April 2023
						</option>
						<option value="may-2023">
							May 2023
						</option>
						<option value="june-2023">
							June 2023
						</option>
						<option value="july-2023">
							July 2023
						</option>
						<option value="august-2023">
							August 2023
						</option>
						<option value="september-2023">
							September 2023
						</option>
						<option value="october-2023">
							October 2023
						</option>
						<option value="november-2023">
							November 2023
						</option>
						<option value="december-2023">
							December 2023
						</option>
						<option value="january-2024">
							January 2024
						</option>
						<option value="february-2024">
							February 2024
						</option>
						<option value="march-2024">
							March 2024
						</option>
						<option value="april-2024">
							April 2024
						</option>
						<option value="may-2024">
							May 2024
						</option>
						<option value="june-2024">
							June 2024
						</option>
						<option value="july-2024">
							July 2024
						</option>
						<option value="august-2024">
							August 2024
						</option>
						<option value="september-2024">
							September 2024
						</option>
						<option value="october-2024">
							October 2024
						</option>
						<option value="november-2024">
							November 2024
						</option>
						<option value="december-2024">
							December 2024
						</option>
						<option value="january-2025">
							January 2025
						</option>
						<option value="february-2025">
							February 2025
						</option>
						<option value="march-2025">
							March 2025
						</option>
						<option value="april-2025">
							April 2025
						</option>
						<option value="may-2025">
							May 2025
						</option>
					</select>
				</div><button class="govuk-button govuk-button--secondary button-view" data-module="govuk-button" data-prevent-double-click="true" formnovalidate="formnovalidate" type="submit">View</button>
			</form>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<div class="finance-panel finance-panel__summary">
				<div class="finance-panel__summary__total-payment-breakdown">
					<h4 class="govuk-heading-l govuk-!-margin-bottom-2">
						Total £2,205,568.94
					</h4>
					<div>
						<p class="govuk-body-s govuk-!-margin-bottom-2">
							Output payment <span>£1,650,266.36</span>
						</p>
						<p class="govuk-body-s govuk-!-margin-bottom-2">
							Uplift fees <span>£15,600.00</span>
						</p>
						<p class="govuk-body-s govuk-!-margin-bottom-2">
							Clawbacks <span>-£12,049.21</span>
						</p>
						<p class="govuk-body-s govuk-!-margin-bottom-2">
							Additional adjustments <span>£0.00</span>
						</p>
						<p class="govuk-body-s govuk-!-margin-bottom-2">
							Service fee <span>£184,156.97</span>
						</p>
						<p class="govuk-body-s govuk-!-margin-bottom-2">
							VAT <span>£367,594.82</span>
						</p>
					</div>
				</div>
				<div class="finance-panel__summary__meta">
					<div class="finance-panel__summary__meta__dates">
						<div>
							<div>
								<strong class="govuk-body-s govuk-!-margin-bottom-0">Milestone cut off date</strong>
							</div>
							<div class="govuk-heading-m govuk-!-padding-top-0">
								30 September 2022
							</div>
						</div>
						<div>
							<div>
								<strong class="govuk-body-s govuk-!-margin-bottom-0">Payment date</strong>
							</div>
							<div class="govuk-heading-m govuk-!-padding-top-0">
								25 October 2022
							</div>
						</div>
					</div>
					<div class="finance-panel__summary__meta__counts">
						<div class="second govuk-list govuk-!-margin-bottom-0">
							<strong class="govuk-body-s govuk-!-margin-bottom-0">Total starts</strong>
							<div class="govuk-heading-m govuk-!-padding-top-0">
								359
							</div>
						</div>
						<div>
							<strong class="govuk-body-s govuk-!-margin-bottom-0">Total retained</strong>
							<div class="govuk-heading-m govuk-!-padding-top-0">
								11353
							</div>
						</div>
						<div>
							<strong class="govuk-body-s govuk-!-margin-bottom-0">Total completed</strong>
							<div class="govuk-heading-m govuk-!-padding-top-0">
								0
							</div>
						</div>
						<div>
							<strong class="govuk-body-s govuk-!-margin-bottom-0">Total voided</strong>
							<div class="govuk-heading-m govuk-!-padding-top-0 govuk-!-margin-bottom-0">
								0
							</div><a class="govuk-link govuk-body-s" href="https://ecf-dev.london.cloudapps.digital/finance/ecf/payment_breakdowns/781bf717-057b-42da-b395-de51783f5fca/statements/17060762-d267-435e-a31f-893f02e864d7/voided">View <span class="govuk-visually-hidden">voided declarations</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="finance-panel__summary__downloads">
				<div class="duvet">
					<p class="govuk-body-s"><a class="govuk-link" href="https://ecf-dev.london.cloudapps.digital/finance/ecf/statements/17060762-d267-435e-a31f-893f02e864d7/assurance-report.csv">Download declarations (CSV)</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="govuk-grid-row govuk-!-margin-top-5">
		<div class="govuk-grid-column-full">
			<div class="finance-panel finance-panel__output-payments">
				<table class="govuk-table output-payments table-responsive-max-width">
					<caption class="govuk-table__caption govuk-table__caption--m">
						Output payments
					</caption>
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th class="govuk-table__header govuk-body-s">Outputs</th>
							<th class="govuk-table__header govuk-table__header--numeric govuk-body-s">Band A</th>
							<th class="govuk-table__header govuk-table__header--numeric govuk-body-s">Band B</th>
							<th class="govuk-table__header govuk-table__header--numeric govuk-body-s">Band C</th>
							<th class="govuk-table__header govuk-table__header--numeric govuk-body-s">Band D</th>
							<th class="govuk-table__header govuk-table__header--numeric govuk-body-s">Payments</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<th class="govuk-table__header govuk-body-s">Starts</th>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell"></td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-body-s">Fee per trainee</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£167.72	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£166.20	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£163.22
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£272.03
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£97,658.77
							</td>
						</tr>
						<tr class="govuk-table__row">
							<th class="govuk-table__header govuk-body-s">Retained 1</th>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell"></td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-body-s">Fee per trainee</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£125.79	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£124.65
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£122.41
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£204.02
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£119,353.16
							</td>
						</tr>
						<tr class="govuk-table__row">
							<th class="govuk-table__header govuk-body-s">Retained 2</th>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell"></td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-body-s">Fee per trainee</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£125.79	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£124.65	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£122.41	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£204.02	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£259,720.64
							</td>
						</tr>
						<tr class="govuk-table__row">
							<th class="govuk-table__header govuk-body-s">Retained 3</th>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								2000
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								2000
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								5495	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								0
							</td>
							<td class="govuk-table__cell"></td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-body-s">Fee per trainee</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£125.79
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£124.65	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£122.41
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£204.02	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£1,173,533.78
							</td>
						</tr>
						<tr class="govuk-table__row">
							<th class="govuk-table__header govuk-body-s">Retained 4</th>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell"></td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-body-s">Fee per trainee</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£125.79	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£124.65	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£122.41	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£204.02	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£0.00
							</td>
						</tr>
						<tr class="govuk-table__row">
							<th class="govuk-table__header govuk-body-s">Completed</th>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0</td>
							<td class="govuk-table__cell"></td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-body-s">Fee per trainee</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£167.72	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£166.20	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£163.22	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£272.03	
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£0.00
							</td>
						</tr>
					</tbody>
				</table>
				<div class="govuk-!-text-align-right govuk-heading-s govuk-!-margin-bottom-0">
					Total
				</div>
				<div class="govuk-!-text-align-right govuk-heading-s">
					£1,650,266.36
				</div>
			</div>


			<!-- Uplift fees -->
			<div class="finance-panel finance-panel__uplifts govuk-!-margin-top-5 govuk-!-margin-bottom-5">
				<table class="govuk-table">
					<caption class="govuk-table__caption govuk-table__caption--m">
						Uplift fees
					</caption>
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th class="govuk-table__header govuk-body-s">
								Number or participants
							</th>
							<th class="govuk-table__header govuk-body-s">
								Fee per participant	
							</th>
							<th class="govuk-table__header govuk-table__header--numeric govuk-body-s">
								Payments
							</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-body-s">
								156	
							</td>
							<td class="govuk-table__cell govuk-body-s">
								£100.00
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">
								£15,600.00
							</td>
						</tr>
					</tbody>
				</table>
				<div class="govuk-!-text-align-right govuk-heading-s govuk-!-margin-bottom-0">
					Total
				</div>
				<div class="govuk-!-text-align-right govuk-heading-s">
					£15,600.00
				</div>
			</div>
			<!-- /Uplift fees -->

			<!-- Adjustments wrapper -->
			<div class="finance-panel-wrapper govuk-!-margin-top-5 govuk-!-margin-bottom-5">

				<h2 class="govuk-heading-m">
					Adjustments
				</h2>
				
				<div class="finance-panel finance-panel__adjustments-clawbacks">
					<table class="govuk-table table-responsive-max-width">
						<caption class="govuk-table__caption govuk-table__caption--s">
							Clawbacks
						</caption>
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th class="govuk-table__header govuk-body-s">
									Payment type
								</th>
								<th class="govuk-table__header govuk-body-s">
									Number or participants
								</th>
								<th class="govuk-table__header govuk-table__header--numeric govuk-body-s">
									Fee per participant	
								</th>
								<th class="govuk-table__header govuk-table__header--numeric govuk-body-s">
									Payments
								</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<td class="govuk-table__cell govuk-body-s">
									Uplift clawbacks
								</td>
								<td class="govuk-table__cell govuk-body-s">
									11
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right govuk-body-s">
									-£100.00
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right govuk-body-s">
									-£1,100.00
								</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell govuk-body-s">
									Clawback for Started (Band: D)
								</td>
								<td class="govuk-table__cell">
									32
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right govuk-body-s">
									-£272.03
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right govuk-body-s">
									-£8,704.96
								</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell govuk-body-s">
									Clawback for Retained 1 (Band: D)
								</td>
								<td class="govuk-table__cell">
									9
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right govuk-body-s">
									-£204.02
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right govuk-body-s">
									-£1,836.20
								</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell govuk-body-s">
									Clawback for Retained 2 (Band: D)
								</td>
								<td class="govuk-table__cell">
									2
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right govuk-body-s">
									-£204.02
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right govuk-body-s">
									-£408.05
								</td>
							</tr>
						</tbody>
					</table>

					<table class="govuk-table table-adjustments-sub">
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">	
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right">
									<div class="govuk-!-text-align-right govuk-heading-s govuk-!-margin-bottom-0">
										Total
									</div>
									<div class="govuk-!-text-align-right govuk-heading-s">
										-£12,049.21
									</div>
								</td>
							</tr>
						</tbody>
					</table> <!-- /table-adjustments-sub -->

				</div> <!-- / finance-panel__adjustments-clawbacks-->

				<div class="finance-panel finance-panel__adjustments-addtional govuk-!-margin-bottom-5">
					
					<table class="govuk-table">
						<caption class="govuk-table__caption govuk-table__caption--s">
							Additional adjustments
						</caption>
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th class="govuk-table__header govuk-body-s">
									Payment type
								</th>
								<th class="govuk-table__header govuk-table__header--numeric govuk-body-s">
									Payments
								</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<td class="govuk-table__cell govuk-body-s">
									{{ data['adjustment-type']}}
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right govuk-body-s">
									£0.00
								</td>
							</tr>
						</tbody>
					</table>

					<table class="govuk-table table-adjustments-sub table-adjustments-actions">
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">
									<p class="govuk-body govuk-body-s">
										<a href="/version-24/add-adjustment-type-1" class="govuk-link push-r12">
											Add
										</a> 
										<!-- <a href="/version-24/adjustments-add-to-a-list-change-remove" class="govuk-link">
											Change or remove
										</a> -->
									</p>
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right">
									<div class="govuk-!-text-align-right govuk-heading-s govuk-!-margin-bottom-0">
										Total
									</div>
									<div class="govuk-!-text-align-right govuk-heading-s">
										£0.00
									</div>
								</td>
							</tr>
						</tbody>
					</table> <!-- /table-adjustments-sub -->

				</div> <!-- /finance-panel__adjustments-addtional -->
					
			</div> <!-- /Adjustments wrapper -->

			<details class="govuk-details" data-module="govuk-details">
				<summary class="govuk-details__summary">
					<span class="govuk-details__summary-text">Contract Information</span>
				</summary>
				<div class="govuk-details__text">
					<dl class="govuk-summary-list govuk-summary-list--no-border">
						<dd>
							<div class="govuk-summary-list__row">
								<dl>
									<dt class="govuk-summary-list__key">Provider</dt>
									<dd class="govuk-summary-list__value">Ambition Institute</dd>
								</dl>
							</div>
						</dd>
					</dl>
					<dl class="govuk-summary-list">
						<dd>
							<div class="govuk-summary-list__row">
								<dl>
									<dt class="govuk-summary-list__key">Recruitment target</dt>
									<dd class="govuk-summary-list__value">4500</dd>
								</dl>
							</div>
							<div class="govuk-summary-list__row">
								<dl>
									<dt class="govuk-summary-list__key">Revised recruitment target (+2%)</dt>
									<dd class="govuk-summary-list__value">4590</dd>
								</dl>
							</div>
							<div class="govuk-summary-list__row">
								<dl>
									<dt class="govuk-summary-list__key">Uplift target</dt>
									<dd class="govuk-summary-list__value">33%</dd>
								</dl>
							</div>
							<div class="govuk-summary-list__row">
								<dl>
									<dt class="govuk-summary-list__key">Uplift amount</dt>
									<dd class="govuk-summary-list__value">£100.00</dd>
								</dl>
							</div>
							<div class="govuk-summary-list__row">
								<dl>
									<dt class="govuk-summary-list__key">Set-up Fee</dt>
									<dd class="govuk-summary-list__value">£0.00</dd>
								</dl>
							</div>
						</dd>
					</dl>
					<table class="govuk-table">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th class="govuk-table__header">Band</th>
								<th class="govuk-table__header govuk-table__cell--numeric">Min</th>
								<th class="govuk-table__header govuk-table__cell--numeric">Max</th>
								<th class="govuk-table__header govuk-table__cell--numeric">Payment amount per participant</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">Band A</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">0</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">10</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">£995.00</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">Band B</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">11</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">20</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">£979.00</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">Band C</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">21</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">30</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">£966.00</td>
							</tr>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">New target</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">31</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">40</td>
								<td class="govuk-table__cell govuk-table__cell--numeric">£966.00</td>
							</tr>
						</tbody>
					</table>
				</div>
			</details>
		</div>
	</div> <!-- /.govuk-grid-row -->

{% endblock %}
