//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-link--no-visited-state:visited {
    color: #1d70b8;
}
.govuk-link:visited {
    color: #4c2c92;
}
.nav-item a {
    text-decoration: none;
    line-height: 2.5rem;
}

.primary-nav-container {
    background-color: #f3f2f1;
    border-bottom: 1px #b1b4b6 solid;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.primary-nav-container .primary-nav .nav-item {
    font-size: 1.1rem;
    margin-right:20px;
}

.nav-item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}
.nav-item {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}
.primary-nav {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    font-weight: 700;
}

.app-subnav__list {
    display: flex;
    margin: 0;
    white-space: nowrap;
    box-shadow: inset 0 -1px 0 #b1b4b6;
}
.app-subnav__list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.app-subnav__list-item--selected a, .app-subnav__list-item--selected a:link, .app-subnav__list-item--selected a:visited {
    border-color: #1d70b8;
    color: #0b0c0c;
    
}
.app-subnav__list-item a, .app-subnav__list-item a:link, .app-subnav__list-item a:visited {
    border-bottom: 5px solid transparent;
    padding-bottom: 10px;
    font-size:20px;
    margin-right:20px;
}
.app-subnav__list-item a, .app-subnav__list-item a:link, .app-subnav__list-item a:visited {
    background-color: inherit;
    display: block;
    text-decoration: none;
}
.search-box {
    background-color: #f3f2f1;
    padding: 20px 15px;
    margin-bottom: 15px;
}
.search-box__input {
    flex-grow: 1;
}
.govuk-width-container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
.app-subnav__list-item--selected a, .app-subnav__list-item--selected a:link, .app-subnav__list-item--selected a:visited {
    border-color: #1d70b8;
    color: #0b0c0c;
}
nav.govuk-pagination {
    justify-content: center;
}
.govuk-link--no-visited-state:link {
    color: #1d70b8;
    text-decoration: none;
}