a:link, .govuk-link:link {
  color: #1d70b8;
  text-decoration: none !important;
}

.primary-nav {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  font-weight: 700;
}

.govuk-grid-row.padthirty {
  padding-top: 30px;
  background-color: #f3f2f1;
  width: 100%;
  float: left;
  clear: both;
}

.primary-nav-container {
  background-color: #f3f2f1;
  border-bottom: 1px #b1b4b6 solid;
}

.govuk-link--no-visited-state:visited {
  color: #1d70b8;
}

.govuk-link:visited {
  color: #4c2c92;
}

.nav-item a {
  line-height: 2.5rem;
}

.govuk-link {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}