{% extends "layouts/main-nav.html" %}

{% block pageTitle %}
  Example school – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        St Peter's Church of England Voluntary Controlled Primary School, Coggeshall
      </h1>

      <form class="form" action="/version-24/check-answers-1" method="post">
       
       
      <nav class="app-subnav" aria-label="Sub navigation">
        <ul class="app-subnav__list">
            <li class="app-subnav__list-item" >
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="example-school">
                Overview
              </a>
            </li>
            <li class="app-subnav__list-item">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="example-school-participants">
                Participants
              </a>
            </li>
            <li class="app-subnav__list-item app-subnav__list-item--selected"">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="example-school-cohorts">
                Cohorts
                <span class="govuk-visually-hidden">Current page</span>
              </a>
            </li>
        </ul>
      </nav>
      <h2 class="govuk-heading-l govuk-!-margin-top-6">
        Cohorts
       </h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
        2021 cohort
      </h3>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Induction programme
          </dt>
          <dd class="govuk-summary-list__value">
            No programme
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/admin/schools/115108-st-peter-s-church-of-england-volu/cohorts/2021/change-programme">Change</a>
            <span class="govuk-visually-hidden"> induction programme</span>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appropriate body
          </dt>
          <dd class="govuk-summary-list__value">
            
          </dd>
        </div>
      
        
      </dl>
      
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
        2022 cohort
      </h3>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Induction programme
          </dt>
          <dd class="govuk-summary-list__value">
            No programme
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/admin/schools/115108-st-peter-s-church-of-england-volu/cohorts/2022/change-programme">Change</a>
            <span class="govuk-visually-hidden"> induction programme</span>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appropriate body
          </dt>
          <dd class="govuk-summary-list__value">
            
          </dd>
        </div>
      
        
      </dl>
      
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
        2023 cohort
      </h3>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Induction programme
          </dt>
          <dd class="govuk-summary-list__value">
            No programme
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/admin/schools/115108-st-peter-s-church-of-england-volu/cohorts/2023/change-programme">Change</a>
            <span class="govuk-visually-hidden"> induction programme</span>
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appropriate body
          </dt>
          <dd class="govuk-summary-list__value">
            
          </dd>
        </div>
      
        
      </dl>
      
        </div>
      </div>
       

      </form>

    </div>
  </div>

{% endblock %}
