{% extends "layouts/main-nav.html" %}

{% block pageTitle %}
  Example school – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        St Peter's Church of England Voluntary Controlled Primary School, Coggeshall
        <!--<span class="govuk-caption-l govuk-!-margin-top-2">dd2fbf67-b4b4-345r-k333-0020511r3233 <a href="#" class="govuk-link">Copy</a></span>-->
      </h1>

      <form class="form" action="/version-24/check-answers-1" method="post">
       
       
      <nav class="app-subnav" aria-label="Sub navigation">
        <ul class="app-subnav__list">
            <li class="app-subnav__list-item" >
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="example-school">
                Overview
              </a>
            </li>
            <li class="app-subnav__list-item">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="example-school-participants">
                Participants
              </a>
            </li>
            <li class="app-subnav__list-item app-subnav__list-item--selected">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="example-school-cohorts">
                Cohorts
                <span class="govuk-visually-hidden">Current page</span>
              </a>
            </li>
        </ul>
      </nav>
      <h2 class="govuk-heading-l govuk-!-margin-top-6">
        Cohorts
       </h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
               2021 cohort
             </h3>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Induction programme
          </dt>
          <dd class="govuk-summary-list__value">
            No programme
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/admin/schools/115108-st-peter-s-church-of-england-volu/cohorts/2021/change-programme">Change</a>
            <span class="govuk-visually-hidden"> induction programme</span>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appropriate body
          </dt>
          <dd class="govuk-summary-list__value">
            York
          </dd>
        </div>
      </dl>
     
      <br><br>
      <h3 class="govuk-heading-m ">
        Partnership
      </h3>

          <dl class="govuk-summary-list">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Lead provider
            </dt>
            <dd class="govuk-summary-list__value">
              Education Development Trust
            </dd>
            <dd class="govuk-summary-list__actions">
              
              <span class="govuk-visually-hidden"> induction programme</span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Delivery partner
            </dt>
            <dd class="govuk-summary-list__value">
              Koelpin-Hand
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Partnership ID
            </dt>
            <dd class="govuk-summary-list__value">
            dd2fb457-d5f7-345r-k323-009641r3233
            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="">Copy</a>
              <span class="govuk-visually-hidden"> Partnership ID</span>
            </dd>
          </div>
          </dl>
          {{ govukButton({
          text: "Challenge",
          classes: "govuk-button--secondary"
          }) }}
          <br><br><br>
          <h3 class="govuk-heading-m ">
            Additional relationships
          </h3>
    
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                 Participants
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                      <li>
                        <a href="#" class="govuk-link">Luther Driver</a>
                      </li>
                      <li>
                        <a href="#" class="govuk-link">Robin Bab</a>
                      </li>
                      <li>
                        <a href="#" class="govuk-link">Bert Hungerford</a>
                      </li>
                      <li>
                        <a href="#" class="govuk-link">David Gore</a>
                      </li>
                      <li>
                        <a href="#" class="govuk-link">Martin Gahan</a>
                      </li>
                      <li>
                        <a href="#" class="govuk-link">Fletcher Fletch</a>
                      </li>
                    </ul>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    
                    <span class="govuk-visually-hidden"> induction programme</span>
                  </dd>
                </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Lead provider
                </dt>
                <dd class="govuk-summary-list__value">
                  Education Development Trust
                </dd>
                <dd class="govuk-summary-list__actions">
                  
                  <span class="govuk-visually-hidden"> induction programme</span>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Delivery partner
                </dt>
                <dd class="govuk-summary-list__value">
                  Lakin-Lingdren
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Relationship ID
                </dt>
                <dd class="govuk-summary-list__value">
                902fb999-d2e3-875r-k111-0973241e37873
                
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="">Copy</a>
                  <span class="govuk-visually-hidden"> Relationship ID</span>
                </dd>
              </div>
              </dl>
              {{ govukButton({
              text: "Challenge",
              classes: "govuk-button--secondary"
              }) }}
      
            
      
        </div>
      </div>
      </form>
    </div>
  </div>

{% endblock %}
