{% extends "layouts/main-nav.html" %}

{% block pageTitle %}
  Example school – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        St Peter's Church of England Voluntary Controlled Primary School, Coggeshall
        <span class="govuk-caption-l govuk-!-margin-top-2">dd2fbf67-b4b4-345r-k333-0020511r3233 <a href="#" class="govuk-link">Copy</a></span>
      </h1>

      <form class="form" action="/version-24/check-answers-1" method="post">
       
       
      <nav class="app-subnav" aria-label="Sub navigation">
        <ul class="app-subnav__list">
            <li class="app-subnav__list-item" >
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="example-school">
                Overview
              </a>
            </li>
            <li class="app-subnav__list-item">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="example-school-participants">
                Participants
              </a>
            </li>
            <li class="app-subnav__list-item app-subnav__list-item--selected">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="example-school-cohorts">
                Cohorts
                <span class="govuk-visually-hidden">Current page</span>
              </a>
            </li>
        </ul>
      </nav>
      <h2 class="govuk-heading-l govuk-!-margin-top-6">
        Cohorts
       </h2>



       <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
               2021 cohort
             </h3>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Induction programme
          </dt>
          <dd class="govuk-summary-list__value">
            No programme
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/admin/schools/115108-st-peter-s-church-of-england-volu/cohorts/2021/change-programme">Change</a>
            <span class="govuk-visually-hidden"> induction programme</span>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appropriate body
          </dt>
          <dd class="govuk-summary-list__value">
            York
          </dd>
        </div>
      </dl>
     
      <h3 class="govuk-heading-m ">
        Partnership
      </h3>

         

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">dd2fb457-d5f7-345r-k323-009641r3233</h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                  Copy ID<span class="govuk-visually-hidden"> partnership</span>
                </a>
              </li>
                <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                    Challenge<span class="govuk-visually-hidden"> partnership</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Lead provider
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Ambition Institute
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Delivery partner
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Ark Schools
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Delivery partner ID
                  </dt>
                  <dd class="govuk-summary-list__value">
                   873r734892-d4r9-875r-F536-0973241e9444 <a href="#" class="govuk-link govuk-!-margin-left-6">Copy</a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>


          <br><br><br>
          <h3 class="govuk-heading-m ">
            Additional relationships
          </h3>
    
       <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">902fb999-d2e3-875r-k111-0973241e37873</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Copy ID<span class="govuk-visually-hidden"> relationship</span>
            </a>
          </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Challenge<span class="govuk-visually-hidden"> relationship</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Participant
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#" class="govuk-link">Luthor Driver</a>
              </dd>
            </div>
           
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Lead provider
              </dt>
              <dd class="govuk-summary-list__value">
                Best Practice Network
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Delivery partner
              </dt>
              <dd class="govuk-summary-list__value">
                Alban Teaching School Hub
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Delivery partner ID
              </dt>
              <dd class="govuk-summary-list__value">
               873r733212-e4r9-875r-F536-0973241e6555 <a href="#" class="govuk-link govuk-!-margin-left-6">Copy</a>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!--card split-->

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">903fb111-d4r9-875r-k111-0973241e99973</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Copy ID<span class="govuk-visually-hidden"> relationship</span>
            </a>
          </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                Challenge<span class="govuk-visually-hidden"> relationship</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Participant
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#" class="govuk-link">Robin Bab</a>
              </dd>
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Lead provider
              </dt>
              <dd class="govuk-summary-list__value">
                Ambition Institute
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Delivery partner
              </dt>
              <dd class="govuk-summary-list__value">
                Ark Schools
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Delivery partner ID
              </dt>
              <dd class="govuk-summary-list__value">
               873r734892-d4r9-875r-F536-0973241e9444 <a href="#" class="govuk-link govuk-!-margin-left-6">Copy</a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      
      
            
      
        </div>
      </div>
      </form>
    </div>
  </div>

{% endblock %}
