{% extends "layouts/main-nav.html" %}

{% block pageTitle %}
PROTOTYPE - Admin suppliers
{% endblock %}



{% block content %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()",
  classes: "govuk-!-margin-top-1"
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Lead provider</span>
      <h1 class="govuk-heading-l">
        Ambition Institute
      </h1>

      <form class="form" action="/version-24/check-answers-1" method="post">

        <ul class="app-subnav__list govuk-!-margin-bottom-9">
          <li class="app-subnav__list-item app-subnav__list-item--selected">
      <a class="govuk-link app-subnav__link govuk-link--no-visited-state app-subnav__list-item app-subnav__list-item--selected" aria-current="page" href="ambition-institute">
        
       Overview
     <span class="govuk-visually-hidden">Current page</span>
    </a></li>
    
          <li class="app-subnav__list-item">
      <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ambition-institute-users">
        
        All users
     
    </a></li>
    
      </ul>



        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


        {% set 2023Html %}
        {{ govukSummaryList({
          card: {
            title: {
              text: "2023"
            },
            actions: {
              items: [
                {
                  
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: "Delivery partners"
              },
              value: {
                html: "<ul class='govuk-list '>
                  <li>
                   <a href='#' class='govuk-link'> Advantage Schools</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>Aquila Trust</a>
                  </li>
                  <li>
                    <a href='../delivery-partners/armstrong-Kuhn' class='govuk-link'>Armstrong-Kuhn</a>
                  </li>
                
                </ul>"
              }
            },
            {
              key: {
                text: "Schools"
              },
              value: {
                html: "<ul class='govuk-list '>
                  <li>
                    <a href='#' class='govuk-link'>    Abbey College Manchester</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>   Abbeyfield School</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Green Nursery School & Children's Centre</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Hill Academy</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Lane Primary School</a>
                  </li>
                </ul>"
              }
            }
          ]
        }) }}
        {% endset -%}

        {% set 2022Html %}
        {{ govukSummaryList({
          card: {
            title: {
              text: "2022"
            },
            actions: {
              items: [
                {
                  
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: "Delivery partners"
              },
              value: {
                html: "<ul class='govuk-list '>
                  <li>
                   <a href='#' class='govuk-link'> Advantage Schools</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>Aquila Trust</a>
                  </li>
                  <li>
                    <a href='../delivery-partners/armstrong-Kuhn' class='govuk-link'>Armstrong-Kuhn</a>
                  </li>
                
                </ul>"
              }
            },
            {
              key: {
                text: "Schools"
              },
              value: {
                html: "<ul class='govuk-list '>
                  <li>
                    <a href='#' class='govuk-link'>    Abbey College Manchester</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>   Abbeyfield School</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Green Nursery School & Children's Centre</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Hill Academy</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Lane Primary School</a>
                  </li>
                </ul>"
              }
            }
          ]
        }) }}
        {% endset -%}

        {% set 2021Html %}
        {{ govukSummaryList({
          card: {
            title: {
              text: "2021"
            },
            actions: {
              items: [
                {
                  
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: "Delivery partners"
              },
              value: {
                html: "<ul class='govuk-list '>
                  <li>
                   <a href='#' class='govuk-link'> Advantage Schools</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>Aquila Trust</a>
                  </li>
                  <li>
                    <a href='../delivery-partners/armstrong-Kuhn' class='govuk-link'>Armstrong-Kuhn</a>
                  </li>
                
                </ul>"
              }
            },
            {
              key: {
                text: "Schools"
              },
              value: {
                html: "<ul class='govuk-list '>
                  <li>
                    <a href='#' class='govuk-link'>    Abbey College Manchester</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>   Abbeyfield School</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Green Nursery School & Children's Centre</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Hill Academy</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Lane Primary School</a>
                  </li>
                </ul>"
              }
            }
          ]
        }) }}
        {% endset -%}

        {% set 2020Html %}
        {{ govukSummaryList({
          card: {
            title: {
              text: "2020"
            },
            actions: {
              items: [
                {
                  
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: "Delivery partners"
              },
              value: {
                html: "<ul class='govuk-list '>
                  <li>
                   <a href='#' class='govuk-link'> Advantage Schools</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>Aquila Trust</a>
                  </li>
                  <li>
                    <a href='../delivery-partners/armstrong-Kuhn' class='govuk-link'>Armstrong-Kuhn</a>
                  </li>
                
                </ul>"
              }
            },
            {
              key: {
                text: "Schools"
              },
              value: {
                html: "<ul class='govuk-list '>
                  <li>
                    <a href='#' class='govuk-link'>    Abbey College Manchester</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>   Abbeyfield School</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Green Nursery School & Children's Centre</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Hill Academy</a>
                  </li>
                  <li>
                    <a href='#' class='govuk-link'>  Abbey Lane Primary School</a>
                  </li>
                </ul>"
              }
            }
          ]
        }) }}
        {% endset -%}

        {{ govukAccordion({
          id: "cohorts",
          items: [
            {
              heading: {
                text: "2023"
              },
              content: {
                html: 2023Html,
                expanded: true
              }
            },
            {
              heading: {
                text: "2022"
              },
              content: {
                html: 2022Html
              }
            },
            {
              heading: {
                text: "2021"
              },
              content: {
                html: 2021Html
              }
            },
            {
              heading: {
                text: "2020"
              },
              content: {
                html: 2020Html
              }
            }
          ]
         }) }}

         

         <p class="govuk-body">
          <a href="#" class="govuk-link">Delete lead provider</a>
        </p>
      </form>

    </div>
  </div>

{% endblock %}
