{% extends "layouts/main-nav.html" %}

{% block pageTitle %}
  User details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-1"
  }) }}

  <form class="form" action="all-users" method="post">
  <div class="govuk-grid-row govuk-!-margin-top-3">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% set html %}
      <h3 class="govuk-notification-banner__heading">
        User access updated
      </h3>
     <p class='govuk-body'>
      [user name] has been added as a user for <a href='#' class="govuk-link">[supplier name]</a>
     </p>
       
      {% endset %}
      
      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}


      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">User</span>
        Alan Bennett
      </h1>
      

      <dl class="govuk-summary-list">
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Alan Bennett
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> email</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            alan.bennett@email.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> email</span>
            </a>
          </dd>
        </div>
        
        </dl>

        <h2 class="govuk-heading-m">
          Access management
        </h2>
       
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Delivery partners</h2>
           
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Armstrong-Kuhn
                </dt>
               
                <dd class="govuk-summary-list__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                    View<span class="govuk-visually-hidden">  Armstrong-Kuhn</span>
                  </a>
                </li>
                <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                    Remove access<span class="govuk-visually-hidden"> to  Armstrong-Kuhn</span>
                  </a>
                </li>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Barton-Kuhic
                </dt>
               
                <dd class="govuk-summary-list__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                    View<span class="govuk-visually-hidden"> Barton-Kuhic</span>
                  </a>
                </li>
                <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                    Remove access<span class="govuk-visually-hidden"> to Barton-Kuhic</span>
                  </a>
                </li>
              </div>
            </dl>
          </div>
        </div>



        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Lead providers</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                  <span class="govuk-visually-hidden"> of Lead provider</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Capita
                </dt>
               
                <dd class="govuk-summary-list__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                    View<span class="govuk-visually-hidden"> Capita</span>
                  </a>
                </li>
                <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                    Remove access<span class="govuk-visually-hidden"> to Capita</span>
                  </a>
                </li>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        
        {{ govukButton({
          text: "Add access to another supplier",
          classes: "govuk-button--secondary"
         }) }}
          <p class="govuk-body">
          <a href="#" class="govuk-link">Delete user</a>
          </p>     

      </form>

    </div>
  </div>
{% endblock %}
