{% extends "layouts/main.html" %}

{% block pageTitle %}
  User details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()",
    classes: "govuk-!-margin-top-1"
  }) }}

  <form class="form" action="all-users" method="post">
  <div class="govuk-grid-row govuk-!-margin-top-3">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">User</span>
        Alan Bennett
      </h1>
      

      <dl class="govuk-summary-list">
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Alan Bennett
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> email</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            alan.bennett@email.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> email</span>
            </a>
          </dd>
        </div>
        </dl>

       



        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Delivery partner</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                  Remove access<span class="govuk-visually-hidden"> of Delivery partner</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Supplier
                </dt>
                <dd class="govuk-summary-list__value">
                  Armstrong-Kuhn
                </dd>
                <dd class="govuk-summary-list__actions">
                  
                </dd>
              </div>
            </dl>
          </div>
        </div>
        
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Delivery partner</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                  Remove access<span class="govuk-visually-hidden"> of Delivery partner</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Supplier
                </dt>
                <dd class="govuk-summary-list__value">
                  Barton-Kuhic
                </dd>
                <dd class="govuk-summary-list__actions">
                 
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Lead provider</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                  Remove access<span class="govuk-visually-hidden"> of Lead provider</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Supplier
                </dt>
                <dd class="govuk-summary-list__value">
                 Capita
                </dd>
                <dd class="govuk-summary-list__actions">
                  
                </dd>
              </div>
            </dl>
          </div>
        </div>
        
        {{ govukButton({
          text: "Delete user",
          classes: "govuk-button--warning"
        }) }}
<p class="govuk-body">
<a href="#" class="govuk-link">Do they need access to another service?</a>
</p>     

      </form>

    </div>
  </div>
{% endblock %}
