{% extends "layouts/main.html" %}

{% block pageTitle %}
	Participant data – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

	<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
      
  
	<h1 class="govuk-heading-xl">Participant</h1>
	
	<h2>Identities</h2>
	
	  <h3>Identity 1</h3>
	
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">User ID / Participant ID</dt><dd class="govuk-summary-list__value"><a class="govuk-link" href="#">72f96114-8e4d-89a7-a8ff-f211ea2b76f2</a></dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">External ID</dt><dd class="govuk-summary-list__value"><a class="govuk-link" href="#">72f96114-8e4d-89a7-a8ff-f211ea2b76f2</a></dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Full name</dt><dd class="govuk-summary-list__value">Frederick Quo</dd></div>
	</dl>
	<h2>Profiles</h2>
	
	  <h3>ParticipantProfile::Mentor</h3>
		<dl class="govuk-summary-list">
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">User ID / Participant ID</dt><dd class="govuk-summary-list__value">72f96114-8e4d-89a7-a8ff-f211ea2b76f2</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Profile ID</dt><dd class="govuk-summary-list__value">1cbf0540-98bf-4061-a333-fbdb702a6cea</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Eligible for funding</dt><dd class="govuk-summary-list__value">TRUE</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Lead provider</dt><dd class="govuk-summary-list__value">Ambition Institute</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">School URN</dt><dd class="govuk-summary-list__value">115108</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">School ID</dt><dd class="govuk-summary-list__value">dd4a11347-8e4d-89a7-a8ff-f211ea2b7</dd><dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy ID<span class="govuk-visually-hidden">training status</span></a></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Delivery partner ID</dt><dd class="govuk-summary-list__value">db424-b7b7-454f-a8ff-f2ee6897</dd><dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy ID<span class="govuk-visually-hidden">training status</span></a></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Status</dt><dd class="govuk-summary-list__value">active</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Schedule identifier</dt><dd class="govuk-summary-list__value">ecf-standard-january</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Schedule cohort</dt><dd class="govuk-summary-list__value">2021</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Created at</dt><dd class="govuk-summary-list__value">9 February 2022,  2:24 PM</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Updated at</dt><dd class="govuk-summary-list__value">13 March 2023, 11:52 AM</dd><dd class="govuk-summary-list__actions"></dd></div>
	</dl>
	<h4>Induction records</h4>
	
	  <h5>Induction record: 9a2490cf-21ec-40f7-8f4c-ab6e60b33d1c</h5>
	
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Training programme</dt><dd class="govuk-summary-list__value">Full induction programme</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">School URN</dt><dd class="govuk-summary-list__value">115108</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">School ID</dt><dd class="govuk-summary-list__value">dd4a11347-8e4d-89a7-a8ff-f211ea2b7</dd><dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy ID<span class="govuk-visually-hidden">training status</span></a></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Delivery partner ID</dt><dd class="govuk-summary-list__value">db424-b7b7-454f-a8ff-f2ee6897</dd><dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Copy ID<span class="govuk-visually-hidden">training status</span></a></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Lead provider</dt><dd class="govuk-summary-list__value">Ambition Institute</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Induction status</dt><dd class="govuk-summary-list__value">active</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Training status</dt><dd class="govuk-summary-list__value">active</dd><dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change <span class="govuk-visually-hidden">training status</span></a></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Start date</dt><dd class="govuk-summary-list__value">1 September 2021, 12:00 AM</dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">End date</dt><dd class="govuk-summary-list__value"></dd><dd class="govuk-summary-list__actions"></dd></div>
		<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Schedule</dt><dd class="govuk-summary-list__value">ecf-standard-january</dd><dd class="govuk-summary-list__actions"></dd></div>
	</dl>
	<h4>Declarations</h4>
	
	
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration ID</dt><dd class="govuk-summary-list__value">157cbf42-d91a-401a-9acc-4eaac8adf480</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration type</dt><dd class="govuk-summary-list__value">retained-3</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration date</dt><dd class="govuk-summary-list__value">19 November 2022, 12:00 AM</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Course identifier</dt><dd class="govuk-summary-list__value">ecf-mentor</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Evidence held</dt><dd class="govuk-summary-list__value"></dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Lead provider</dt><dd class="govuk-summary-list__value">Ambition Institute</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">State</dt><dd class="govuk-summary-list__value">paid</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Created at</dt><dd class="govuk-summary-list__value">30 January 2023,  2:38 PM</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Updated at</dt><dd class="govuk-summary-list__value">16 February 2023,  4:14 PM</dd></div>
	</dl>
	<table class="govuk-table">
	  <caption class="govuk-table__caption govuk-table__caption--s govuk-heading-s">Declaration State History</caption>
	  <thead class="govuk-table__head">
		<tr class="govuk-table__row">
		<th class="govuk-table__header">State</th>
		<th class="govuk-table__header">Changed at</th>
		<th class="govuk-table__header govuk-table__header--numeric">Reason</th>
	</tr>
	</thead>
		<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">paid</td>
		<td class="govuk-table__cell">16 February 2023,  4:14 PM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">payable</td>
		<td class="govuk-table__cell">1 February 2023, 12:00 AM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">eligible</td>
		<td class="govuk-table__cell">30 January 2023,  2:38 PM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">submitted</td>
		<td class="govuk-table__cell">30 January 2023,  2:38 PM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
	</tbody>
	</table>
	
	
	
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration ID</dt><dd class="govuk-summary-list__value">758e5ed2-ef80-4599-80c2-9af3932f4919</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration type</dt><dd class="govuk-summary-list__value">retained-2</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration date</dt><dd class="govuk-summary-list__value">14 June 2022, 12:00 AM</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Course identifier</dt><dd class="govuk-summary-list__value">ecf-mentor</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Evidence held</dt><dd class="govuk-summary-list__value"></dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Lead provider</dt><dd class="govuk-summary-list__value">Ambition Institute</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">State</dt><dd class="govuk-summary-list__value">paid</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Created at</dt><dd class="govuk-summary-list__value">29 September 2022,  5:01 PM</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Updated at</dt><dd class="govuk-summary-list__value">19 October 2022, 10:50 AM</dd></div>
	</dl>
	<table class="govuk-table">
	  <caption class="govuk-table__caption govuk-table__caption--s govuk-heading-s">Declaration State History</caption>
	  <thead class="govuk-table__head">
		<tr class="govuk-table__row">
		<th class="govuk-table__header">State</th>
		<th class="govuk-table__header">Changed at</th>
		<th class="govuk-table__header govuk-table__header--numeric">Reason</th>
	</tr>
	</thead>
		<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">paid</td>
		<td class="govuk-table__cell">19 October 2022, 10:50 AM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">payable</td>
		<td class="govuk-table__cell">1 October 2022, 12:02 AM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">eligible</td>
		<td class="govuk-table__cell">29 September 2022,  5:01 PM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">submitted</td>
		<td class="govuk-table__cell">29 September 2022,  5:01 PM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
	</tbody>
	</table>
	
	
	
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration ID</dt><dd class="govuk-summary-list__value">eef32a20-e9bf-40ec-91af-af6d3c78aa20</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration type</dt><dd class="govuk-summary-list__value">started</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration date</dt><dd class="govuk-summary-list__value">5 January 2022,  1:49 PM</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Course identifier</dt><dd class="govuk-summary-list__value">ecf-mentor</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Evidence held</dt><dd class="govuk-summary-list__value"></dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Lead provider</dt><dd class="govuk-summary-list__value">Ambition Institute</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">State</dt><dd class="govuk-summary-list__value">paid</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Created at</dt><dd class="govuk-summary-list__value">28 April 2022,  9:58 PM</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Updated at</dt><dd class="govuk-summary-list__value">20 May 2022, 11:15 AM</dd></div>
	</dl>
	<table class="govuk-table">
	  <caption class="govuk-table__caption govuk-table__caption--s govuk-heading-s">Declaration State History</caption>
	  <thead class="govuk-table__head">
		<tr class="govuk-table__row">
		<th class="govuk-table__header">State</th>
		<th class="govuk-table__header">Changed at</th>
		<th class="govuk-table__header govuk-table__header--numeric">Reason</th>
	</tr>
	</thead>
		<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">paid</td>
		<td class="govuk-table__cell">20 May 2022, 11:15 AM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">payable</td>
		<td class="govuk-table__cell">1 May 2022, 12:03 AM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">eligible</td>
		<td class="govuk-table__cell">28 April 2022,  9:58 PM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">submitted</td>
		<td class="govuk-table__cell">28 April 2022,  9:58 PM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
	</tbody>
	</table>
	
	
	
	  <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration ID</dt><dd class="govuk-summary-list__value">e5d664ce-11b1-4641-a46f-1de82dc60465</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration type</dt><dd class="govuk-summary-list__value">retained-1</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Declaration date</dt><dd class="govuk-summary-list__value">29 April 2022,  6:47 PM</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Course identifier</dt><dd class="govuk-summary-list__value">ecf-mentor</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Evidence held</dt><dd class="govuk-summary-list__value">training-event-attended</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Lead provider</dt><dd class="govuk-summary-list__value">Ambition Institute</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">State</dt><dd class="govuk-summary-list__value">paid</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Created at</dt><dd class="govuk-summary-list__value">29 April 2022,  6:51 PM</dd></div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions"><dt class="govuk-summary-list__key">Updated at</dt><dd class="govuk-summary-list__value">20 May 2022, 11:15 AM</dd></div>
	</dl>
	<table class="govuk-table">
	  <caption class="govuk-table__caption govuk-table__caption--s govuk-heading-s">Declaration State History</caption>
	  <thead class="govuk-table__head">
		<tr class="govuk-table__row">
		<th class="govuk-table__header">State</th>
		<th class="govuk-table__header">Changed at</th>
		<th class="govuk-table__header govuk-table__header--numeric">Reason</th>
	</tr>
	</thead>
		<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">paid</td>
		<td class="govuk-table__cell">20 May 2022, 11:15 AM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">payable</td>
		<td class="govuk-table__cell">1 May 2022, 12:03 AM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">eligible</td>
		<td class="govuk-table__cell">29 April 2022,  6:51 PM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
		<tr class="govuk-table__row">
		<td class="govuk-table__cell">submitted</td>
		<td class="govuk-table__cell">29 April 2022,  6:51 PM</td>
		<td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
	</tr>
	</tbody>
	</table>
	
	
	
	
	
	
	
		</main>
{% endblock %}
