{% extends "layouts/main.html" %}

{% block pageTitle %}
	Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

	<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<h1 class="govuk-heading-xl">
			Participant
		</h1>
		<h2 class="govuk-heading-l">
			Identities
		</h2>
		<h3 class="govuk-heading-m">
			Identity 1
		</h3>

		<!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9"> -->
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					User ID / Participant ID	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						<a href="#" class="govuk-link">
							5c637c8b-7824-4a6b-9291-2469e174j08c
						</a>
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					External ID	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						<a href="#" class="govuk-link">
							5c637c8b-7824-4a6b-9291-2469e174j08c
						</a>
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Full name	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						Jane Smith
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
		</dl>

		<h2 class="govuk-heading-l">
			Profiles
		</h2>
		<h3 class="govuk-heading-m">
			ParticipantProfile::NPQ
		</h3>

		<!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9"> -->
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					User ID / Participant ID	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						5c637c8b-7824-4a6b-9291-2469e174j08c
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Profile ID	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						d512961c-3246-4a17-aa66-7d21d1996b83
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Eligible for funding		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						TRUE
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					NPQ course	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						NPQ for Headship (NPQH)	
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Lead provider	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						Best Practice Network
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					School URN		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						106740
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Status	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						active
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Training status		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						active
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Schedule identifier		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						npq-leadership-autumn
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Schedule cohort	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						2021
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Created at		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						21/12/21, 16:01
						<!-- 21 December 2021, 4:01 PM	 -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Updated at		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						28/09/22, 15:54
						<!-- 28 September 2022, 3:54 PM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
		</dl>
		<!-- <hr class="test"> -->
		
		<h3 class="govuk-heading-m">
			Outcomes
		</h3>

		<table class="govuk-table table table-responsive-max-width table-participant">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header govuk-body-m" scope="col">
						Outcome
					</th>
					<th class="govuk-table__header govuk-body-m" scope="col">
						Received 
					</th>
					<th class="govuk-table__header govuk-body-m govuk-table__header--numeric" scope="col">
						Sent to TRA 
					</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						passed
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						29/09/22, 16:14
						<!-- 29 September 2022, 4:14 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						29/09/22, 16:14
						<!-- 29 September 2022, 4:14 PM -->
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						voided
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						27/10/22, 12:02
						<!-- 27 October 2022, 12:02 AM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						27/10/22, 16:14
						<!-- 27 October 2022, 4:14 PM -->
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						failed
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						22/11/23, 12:54
						<!-- 23 November 2022, 12:34 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						22/11/23, 16:14
						<!-- 23 November 2022, 4:14 PM -->
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						passed
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						22/12/23, 12:16
						<!-- 23 December 2022, 12:34 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						23/12/23, 16:16
						<!-- 23 December 2022, 4:14 PM -->
					</td>
				</tr>
			</tbody>
		</table>

		<h4 class="govuk-heading-m">
			Declarations
		</h4>
		
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Declaration ID		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						3714b6f6-4f6c-49b7-89e2-744bd28e0783
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Declaration type	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						completed
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Declaration date		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						19/09/22, 11:00
						<!-- 19 September 2022, 11:00 PM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Course identifier	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						npq-headship	
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Evidence held	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Lead provider		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						Best Practice Network
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					State	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						payable
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Created at		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						23/09/22, 12:34
						<!-- 23 September 2022, 12:34 PM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Updated at	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						30/09/22, 10:59
						<!-- 30 September 2022, 10:59 AM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
		</dl>

		<h4 class="govuk-heading-s">
			Declaration state history
		</h4>

		<table class="govuk-table table table-responsive-max-width table-participant">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header govuk-body-m" scope="col">
						State
					</th>
					<th class="govuk-table__header govuk-body-m" scope="col">
						Changed at
					</th>
					<th class="govuk-table__header govuk-body-m govuk-table__header--numeric" scope="col">
						Reason
					</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						paid
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						<!-- 29 September 2022, 4:14 PM -->
						29/09/22, 16:14
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						payable
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						29/09/22, 16:14
						<!-- 29 September 2022, 4:14 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						eligible
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						23/09/22, 12:34
						<!-- 23 September 2022, 12:34 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						submitted
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						23/09/22, 12:34
						<!-- 23 September 2022, 12:34 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
			</tbody>
		</table>
				
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Declaration ID		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						3714b6f6-4f6c-49b7-89e2-744bd28e0783
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Declaration type	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						retained-1
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Declaration date		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						19/09/22, 11:00
						<!-- 19 September 2022, 11:00 PM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Course identifier	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						npq-headship	
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Evidence held	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Lead provider		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						Best Practice Network
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					State	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						payable
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Created at		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						23/09/22, 12:34
						<!-- 23 September 2022, 12:34 PM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Updated at	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						20/09/22, 10:59
						<!-- 30 September 2022, 10:59 AM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
		</dl>

		<h4 class="govuk-heading-s">
			Declaration state history
		</h4>

		<table class="govuk-table table table-responsive-max-width table-participant">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header govuk-body-m" scope="col">
						State
					</th>
					<th class="govuk-table__header govuk-body-m" scope="col">
						Changed at
					</th>
					<th class="govuk-table__header govuk-body-m govuk-table__header--numeric" scope="col">
						Reason
					</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						paid
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						29/09/22, 16:14
						<!-- 29 September 2022, 4:14 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						payable
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						29/09/22, 16:14
						<!-- 29 September 2022, 4:14 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						eligible
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						23/09/22, 12:34
						<!-- 23 September 2022, 12:34 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						submitted
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						23/09/22, 12:34
						<!-- 23 September 2022, 12:34 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
			</tbody>
		</table>


					
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Declaration ID		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						ccb9cb12-3297-446a-8de0-8e5768f452a9
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Declaration type	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						started
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Declaration date		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						09/02/22, 12:00
						<!-- 9 February 2022, 12:00 AM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Course identifier	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						npq-headship	
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Evidence held	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Lead provider		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						Best Practice Network
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					State	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						paid
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Created at		
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						28/02/22, 18:14
						<!-- 28 February 2022, 6:04 PM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Updated at	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						28/04/22, 13:31
						<!-- 28 April 2022, 1:38 PM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
		</dl>

		<h4 class="govuk-heading-s">
			Declaration state history
		</h4>

		<table class="govuk-table table table-responsive-max-width table-participant">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header govuk-body-m" scope="col">
						State
					</th>
					<th class="govuk-table__header govuk-body-m" scope="col">
						Changed at
					</th>
					<th class="govuk-table__header govuk-body-m govuk-table__header--numeric" scope="col">
						Reason
					</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						paid
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						29/09/22, 16:14
						<!-- 29 September 2022, 4:14 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						payable
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						29/09/22, 16:14
						<!-- 29 September 2022, 4:14 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						eligible
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						23/09/22, 12:34
						<!-- 23 September 2022, 12:34 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
				<tr class="gov-table__row">
					<td class="govuk-table__cell govuk-body-m">
						submitted
					</td>
					<td class="govuk-table__cell govuk-body-m" scope="row">
						23/09/22, 12:34
						<!-- 23 September 2022, 12:34 PM -->
					</td>
					<td class="govuk-table__cell govuk-body-m govuk-table__header--numeric" scope="row">
						N/A
					</td>
				</tr>
			</tbody>
		</table>

		<h2 class="govuk-heading-l">
			NPQ applications
		</h2>
		<h3 class="govuk-heading-m">
			NPQ application 1
		</h3>

		<!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9"> -->
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Application ID	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						<a href="#" class="govuk-link">
							d512961c-3246-4a17-aa66-7d21d1996b83
						</a>
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Lead Provider
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						Best Practice Network
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Lead Provider approval status
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						accepted
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<a href="#">
						Change to pending
						<span class="govuk-visually-hidden"> Lead Provider approval status</span>
					</a>
				</dd>
			</div>


			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					NPQ course	
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						NPQ for Headship (NPQH)
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					School URN
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						106740
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					School UKPRN
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						10204499
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>



			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Targeted support funding eligibility	
				</dt>
				<dd class="govuk-summary-list__value">
					<strong class="govuk-tag govuk-tag--red">No</strong><!-- <p class="govuk-body">
						No
					</p> -->
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Created at
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						08/12/21, 11:39
						<!-- 8 December 2021, 11:39 AM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Updated at
				</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">
						28/09/22, 15:54
						<!-- 28 September 2022, 3:54 PM -->
					</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<!-- <a href="#">
						Change
						<span class="govuk-visually-hidden"> User ID / Participant ID</span>
					</a> -->
				</dd>
			</div>

		</dl>

	</div> <!-- ./govuk-grid-column-full -->
</div>
{% endblock %}
