{% extends "layouts/main-nav.html" %}

{% block pageTitle %}
  Admin suppliers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {% if data['full-name'] %}
            {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

            {% set html %}
              <h3 class="govuk-notification-banner__heading">
                New user added successfully
              </h3>
             <p class='govuk-body'>
              <a href='#' class="govuk-link">{{ data['full-name']}}</a> has been added as a user for {{ data['supplier']}}
             </p>
            {% endset %}
            
            {{ govukNotificationBanner({
              html: html,
              type: 'success'
            }) }}
    {% endif %}


      <h1 class="govuk-heading-l">
        Suppliers
      </h1>

      <form class="form" action="/version-24/check-answers-1" method="post">

        <ul class="app-subnav__list">
          <li class="app-subnav__list-item ">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="suppliers">
                All suppliers
            <span class="govuk-visually-hidden">Current page</span>
            </a>
          </li>
          <li class="app-subnav__list-item app-subnav__list-item--selected">
            <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="all-users">
              All users
            </a>
          </li>
      </ul>

      <div class="search-box govuk-!-margin-top-6">
       
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <div class="search-box__input">
                <div class="govuk-form-group"><label for="query-field" class="govuk-label govuk-label--s">Search suppliers</label><div class="govuk-hint" id="query-hint">Enter the user's name, email address or supplier</div><input id="query-field" class="govuk-input" aria-describedby="query-hint" type="text" name="query"></div>
              </div>
            </div>
            <div class="govuk-grid-column-one-half">
              <div class="search-box__input">
                <label for="type-field" class="govuk-label govuk-!-margin-top-6">Filter by type</label>
                <div class="govuk-button-group govuk-!-margin-top-2"><select id="type-field" class="govuk-select" name="type"><option value=""></option>
                  <option value="delivery_partner">Appropriate bodies</option>
                  <option value="delivery_partner">Delivery partner</option>
                  <option value="lead_provider">Lead provider</option></select>
             
              <button type="submit" formnovalidate="formnovalidate" class="govuk-button search-box__button govuk-!-margin-left-3" data-module="govuk-button" data-prevent-double-click="true" data-test="search-button">Search</button>
            </div></div> </div>
          </div>
      
    </div>
    {{ govukButton({
      text: "Add a new user",
      href: "new-user-detail"
    }) }}
    <table class="govuk-table">
      <thead>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Email address</th>
          <th scope="col" class="govuk-table__header">Supplier</th>
          <th scope="col" class="govuk-table__header"></th>
      </thead>
      <tbody class="govuk-table__body">
        {% if data['full-name'] %}
        
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ data['full-name']}}</td>
            <td class="govuk-table__cell">{{ data['email']}}</td>
            <td class="govuk-table__cell">{{ data['supplier']}}</td>
            <td class="govuk-table__cell  govuk-!-text-align-right"><a data-test="edit-supplier-user-link" class="govuk-link" href="">Change</a></td>
          </tr>

        {% endif %}

           <tr class="govuk-table__row">
            <td class="govuk-table__cell">Bert Hungerford</td>
            <td class="govuk-table__cell">bert.hungerford@example.com</td>
            <td class="govuk-table__cell">Armstrong-Kuhn</td>
            <td class="govuk-table__cell  govuk-!-text-align-right"><a data-test="edit-supplier-user-link" class="govuk-link" href="">Change</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Alan Bennett</td>
            <td class="govuk-table__cell">alan.bennett@email.com</td>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                <li>
                  Armstrong-Kuhn
                </li>
                <li>
                  Barton-Kuhic
                </li>
                <li>
                  Capita
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell  govuk-!-text-align-right"><a data-test="edit-supplier-user-link" class="govuk-link" href="delivery-partners/user/user-detail">Change</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Luthor Driver</td>
            <td class="govuk-table__cell">luthor@ambition.com</td>
            <td class="govuk-table__cell">Ambition Institute</td>
            <td class="govuk-table__cell  govuk-!-text-align-right"><a data-test="edit-supplier-user-link" class="govuk-link" href="">Change</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Robin Bab</td>
            <td class="govuk-table__cell">robin.bab@ambition.com</td>
            <td class="govuk-table__cell">Ambition Institute</td>
            <td class="govuk-table__cell  govuk-!-text-align-right"><a data-test="edit-supplier-user-link" class="govuk-link" href="">Change</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Arthur Price</td>
            <td class="govuk-table__cell">a.price@Cummerata-Emmerich.com</td>
            <td class="govuk-table__cell">Cummerata-Emmerich</td>
            <td class="govuk-table__cell  govuk-!-text-align-right"><a data-test="edit-supplier-user-link" class="govuk-link" href="">Change</a></td>
          </tr>

         

      </tbody>
    </table>

  
       
      </form>

    </div>
  </div>

{% endblock %}
