{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<div class="primary-nav-container">
  <div class="govuk-width-container">
    <div class="primary-nav">
        <div class="nav-item ">
  <a class="govuk-link govuk-link--no-visited-state" href="/admin/schools">
    
      Schools
 
</a></div>

        <div class="nav-item ">
  <a class="govuk-link govuk-link--no-visited-state" href="/admin/participants">
    
      Participants
 
</a></div>

        <div class="nav-item nav-item__selected">
  <a class="govuk-link govuk-link--no-visited-state" href="/admin/suppliers">
    
      Suppliers
 <span class="govuk-visually-hidden">Current page</span>
</a></div>

        <div class="nav-item ">
  <a class="govuk-link govuk-link--no-visited-state" href="/admin/administrators">
    
      Admin users
 
</a></div>

        <div class="nav-item ">
  <a class="govuk-link govuk-link--no-visited-state" href="/admin/npq/applications/edge_cases">
    
      NPQ
 
</a></div>

        <div class="nav-item ">
  <a class="govuk-link govuk-link--no-visited-state" href="/admin/delivery-partners/users">
    
      Delivery partners
 
</a></div>

        <div class="nav-item ">
  <a class="govuk-link govuk-link--no-visited-state" href="/admin/appropriate-bodies/users">
    
        Appropriate bodies
 
</a></div>

    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">
        Add adjustment
      </span>

      <form class="form" action="/version-24/check-answers-1" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="adjustment-type">
              How much is the adjustment?
            </label>
          </h1>
          <p>
            Enter the amount of money that needs to be paid. For example, £1,200.50
          </p>
          <div id="how-much-hint" class="govuk-hint">
            Enter the amount in pounds and pence
          </div>

          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="how-much" name="how-much" type="text" spellcheck="false">
          </div>

        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
