{% extends "layouts/main.html" %}

{% block pageTitle %}
	Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">
				Manage CPD contracts
			</h1>
			<h2 class="govuk-heading-m">
				<a class="govuk-link" href="/V24/choose-programme">
				View financial statements
			</a>
			</h2>
			<p class="govuk-body">
				View, download and update financial statements for lead providers.
			</p>
			<h2 class="govuk-heading-m">
				<a class="govuk-link" href="#">
					View payment schedules
				</a>
			</h2>
			<p class="govuk-body">
				View cohort milestone dates and payment schedules.
			</p>
			<h2 class="govuk-heading-m">
				<a class="govuk-link" href="#">
					Search participant data
				</a>
			</h2>
			<p class="govuk-body">
				Search, view and edit participant records, training histories and funding eligibility.
			</p>
			<h2 class="govuk-heading-m">
				<a class="govuk-link" href="#">
					Search duplicate records
				</a>
			</h2>
			<p class="govuk-body">
				Search and compare participant records with any ECF duplicate errors.
			</p>

		</div>
	</div>

{% endblock %}
