{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <span class="govuk-caption-xl">
      Manage CPD contracts
    </span>
    <h1 class="govuk-heading-xl mb20">
      Prototypes and designs v1
    </h1>




   <h2 class="govuk-heading-m">
      DfE finance admin portal
    </h2>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Search participant data
        </span>
      </summary>
      <div class="govuk-details__text">
        <ol class="govuk-list govuk-list--number">
          <li>
            <a href="/archive/finance-admin-interface-participant-npq-outcome-v4-dates-long">
              Participant data - NPQ Outcome as per ticket 1973
            </a>
          </li>
          <li>
            <a href="/finance/participant-data/participant-data">
              Participant data - As per Trello ticket
            </a>
          </li>
          <li>
            <a href="/finance/participant-data/participant-data-summary-tabbed">
              Participant data Ver2 - As per Trello ticket
            </a>
          </li>
          <li>
            <a href="/finance/participant-data/v3/participant-data-ect">
              Participant data Ver3 - with tabs
            </a>
          </li>
          <li>
            <a href="/finance/participant-data/v4/participant-data-ect">
              Participant data Ver4 - with tabs and accordions
            </a>
          </li>
          <li>
            <a href="/finance/participant-data/v5-old-design-system/participant-data-ect">
              Participant data Ver5 - with tabs and summary list components
            </a>
          </li>
        </ol>
      </div>
    </details> <!-- /Search participant data -->

   
    <hr>
    <br>
    
    <h2 class="govuk-heading-m">
      DfE Support admin portal
    </h2>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Support admin sections
        </span>
      </summary>
      <div class="govuk-details__text">
       <ul class="govuk-list govuk-list--number">
        <li>
          <a href="/admin/suppliers/suppliers" class="govuk-link">Suppliers</a>
          
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="https://trello.com/c/HE34PZOI/47-improve-user-management" class="govuk-link" target="_blank">Trello ticket</a>
              </li>
              <li>
                <a href="https://trello.com/c/y9tVuoSU/48-supplier-page" class="govuk-link" target="_blank">Trello ticket</a>
              </li>
              <li>
                <a href="https://lucid.app/lucidspark/3779f1b8-82bf-4610-ac31-e50ee3973357/edit?view_items=TDDW1MDIyhQu&invitationId=inv_e27a4710-f088-4881-8c0b-b00a5a14b7dc" class="govuk-link" target="_blank">Lucid board - Work in prgress</a>
              </li>
              <li>
                <a href="https://lucid.app/lucidspark/3779f1b8-82bf-4610-ac31-e50ee3973357/edit?view_items=9-d0n8~mfXge&invitationId=inv_e27a4710-f088-4881-8c0b-b00a5a14b7dc" target="_blank" class="govuk-link">Designs and flows to hand over to dev</a>
              </li>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="https://lucid.app/lucidspark/3779f1b8-82bf-4610-ac31-e50ee3973357/edit?view_items=Px4YM5kK9eiR&invitationId=inv_e27a4710-f088-4881-8c0b-b00a5a14b7dc" class="govuk-link" target="_blank">Lucid board - Work in progress</a>
                </li>
                
              </ul>
            </ul>
          
        </li>
        <li>
          <a href="/admin/schools/example-school" class="govuk-link">Schools (from example schoo)</a>
        </li>
       </ul>
      </div>
    </details>
    <hr>
    <br>

   

    <h2 class="govuk-heading-m">
      Documentation and resources
    </h2>

    <ul class="govuk-list">
      <li>
        <a href="https://manage-training-for-early-career-teachers.education.gov.uk/api-reference/reference-v3.html#api-v3-partnerships-ecf-get" target="_blank">
          API Reference (v3)
        </a>
      </li>
      <li>
        <a href="https://lucid.app/lucidspark/3779f1b8-82bf-4610-ac31-e50ee3973357/edit?invitationId=inv_e27a4710-f088-4881-8c0b-b00a5a14b7dc&page=0_0#" target="_blank">
          UCD Lucid Board (Opens in a new tab)
        </a>
      </li>
      <li>
        <a href="https://www.figma.com/file/MDarD3s3sWfkCn51HCi0Ab/DfE-CPD-LP-UCD?type=design&node-id=1-620" class="govuk-link" target="_blank">Figma designs</a>
      </li>
    </ul>
    <hr>
    <br>
    <h2 class="govuk-heading-m">
     Archived designs
    </h2>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View financial statement 
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">
          ECF journey
        </h3>
        <ol class="govuk-list govuk-list--number">
          <li>
            <a class="govuk-link" href="archive/manage-cpd-contracts">
              Manage CPD contracts
            </a>
          </li>
          <li>
            <a class="govuk-link" href="archive/choose-programme">
              Choose trainee payments scheme
            </a>
          </li>
          <li>
            <a class="govuk-link" href="archive/choose-provider-ecf">
              Choose provider (ECF)
            </a>
          </li>
          <li>
            <a class="govuk-link" href="archive/financial-statement-ECF-v3-B2-0">
              Financial statement - ECF - (v1)
            </a>
          </li>
           <li>
            <a class="govuk-link" href="archive/add-adjustment-type-1">
              What type of adjustment do you want to add?
            </a>
          </li>
          <li>
            <a class="govuk-link" href="archive/add-adjustment-how-much-1">
              How much is the adjustment?
            </a>
          </li>
          <li>
            <a class="govuk-link" href="archive/check-answers-1">
              Check your answers
            </a>
          </li>
          <li>
            <a class="govuk-link" href="archive/adjustments-add-to-a-list-1">
              You have added an adjustment
            </a>
          </li>
          <li>
            <a class="govuk-link" href="archive/adjustments-add-to-a-list-change-remove">
              Change or remove an adjustment
            </a>
          </li>
          <li>
            <a class="govuk-link" href="archive/adjustments-remove-1">
              Are you sure you want to remove the adjustment?
            </a>
          </li>
        </ol>

        <h3 class="govuk-heading-s">
          NPQ journey
        </h3>

        <ol class="govuk-list govuk-list--number">
          <li>
            <a class="govuk-link" href="archive/manage-cpd-contracts">
              Manage CPD contracts
            </a>
          </li>
          <li>
            <a class="govuk-link" href="archive/choose-programme">
              Choose trainee payments scheme
            </a>
          </li>
          <li>
            <a class="govuk-link" href="archive/choose-provider-npq">
              Choose provider (NPQ)
            </a>
          </li>
          <li>
            <a class="govuk-link" href="archive/financial-statement-NPQ-v9">
              Financial statement - NPQ - (v1)
            </a>
          </li>
          
        </ol>
      </div>
    </details> <!-- /View financial statement -->

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View payment schedules
        </span>
      </summary>
      <div class="govuk-details__text">
        
        <ol class="govuk-list govuk-list--number">
          <li>
            <a class="govuk-link" href="archive/manage-cpd-contracts">
              Manage CPD contracts
            </a>
          </li>
          <li>
            <a href="#">
              Schedules
            </a>
          </li>
          <li>
            <a href="#">
              Identifier
            </a>
          </li>
        </ol>
      </div>
    </details> <!-- /View payment schedules -->

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Search participant data
        </span>
      </summary>
      <div class="govuk-details__text">
        <ol class="govuk-list govuk-list--number">
          <li>
            <a class="govuk-link" href="archive/manage-cpd-contracts">
              Manage CPD contracts
            </a>
          </li>
          <li>
            <a href="#">
              CPD contract data
            </a>
          </li>
          
        </ol>
      </div>
    </details> <!-- /Search participant data -->
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Search duplicate records
        </span>
      </summary>
      <div class="govuk-details__text">
        <ol class="govuk-list govuk-list--number">
          <li>
            <a class="govuk-link" href="archive/manage-cpd-contracts">
              Manage CPD contracts
            </a>
          </li>
          <li>
            <a href="#">
              Search duplicate records
            </a>
          </li>
          <li>
            <a href="#">
              Search result
            </a>
          </li>
        </ol>
      </div>
    </details> <!-- /Search duplicate records -->
  </div> <!-- /.govuk-grid-column-two-thirds -->
</div>


  

{% endblock %}
